Post::create([
    'title' => 'Judul Ketiga',
    'slug' => 'judul-ketiga',
    'excerpt' => 'Lorem ipsum Ketiga...',
    'body' => '<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum placeat maiores veniam autem officiis suscipit quam. Unde illum cupiditate, omnis perspiciatis neque consectetur temporibus, molestias ad inventore, doloribus repellat.</p> <p>Unde quidem suscipit debitis eos dolorem obcaecati ad placeat qui quia ipsam asperiores harum quae voluptatum laboriosam dolores nisi, laudantium dignissimos nihil eligendi esse porro labore quaerat illum iste? Cum adipisci ipsum qui alias aliquam laboriosam sunt tempora odio eveniet pariatur?</p> <p>Veritatis optio voluptatum quisquam at voluptatibus voluptas repellat ex, delectus ab iusto reprehenderit nam quasi officia quibusdam sunt maxime officiis debitis quam laboriosam consequatur minus. Sint consequatur, officia a accusamus in sunt inventore, fugiat quod ex blanditiis at debitis, id totam ipsam ad nisi nemo quasi. Minima labore eius culpa.</p>'
])

